/*body-----------------------------*/
body    {
    margin: 0%;
}

/*navbar---------------------------*/
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar a   {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.navbar a.active    {
    background-color: darkgray;
}

/*video---------------------------------------*/
#typing_video   {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

.video_text {
    background: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: 23%;
}

/*table----------------------------------*/
*   {
    box-sizing: border-box;
}

.column1    {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 500px;
    background-color: #f2f2f2;
}

.column2    {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 500px;
    background-color: #4d4d4d;
}

.column3    {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 500px;
    background-color: #4d4d4d;
}

.row:after  {
    content: "";
    display: table;
    clear: both;
}

/*heading 1 elements---------------------------*/
h1  {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

/*paragraph elements-------------------------*/
p   {
    font-family: 'Montserrat', Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

/*center align elements----------------------------*/
center  {
    font-family: 'Montserrat', Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

/*anchor elements---------------------------*/
a   {
    color: blue;
}

/*quotation elements----------------*/
q   {
    font-style: italic;
    font-weight: bold;
}

/*image elements------------------------*/
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*contact form-------------------------*/
input[type=text]    {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Montserrat', Perpetua, Rockwell Extra Bold;
}

/*submit button-------------------------*/
input[type=submit]  {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', Perpetua, Rockwell Extra Bold;
}

/*hover effect for submit button--------------*/
input[type=submit]:hover    {
    background-color: white;
    color: black;
    font-weight: bold;
    transform: scale(1.5);
    transition: transform 1.5s;
}

/*form element-------------------------*/
form    {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Trebuchet MS", Optima;
}

/*center align element hover effect-----*/
center:hover    {
    transition: transform 2s;
    transform: scale(1.1);
}

/*paragraph element hover effect------------*/
p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}

/*heading 1 element hover effect-------------*/
h1:hover    {
    color: black;
    font-weight: normal;
}

/*image hover effect--------------------*/
img:hover   {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

/*footer element--------------------------*/
footer  {
    padding: 2%;
    background-color: white;
}